.cookbook {

  .cookbook-inner {
    overflow: hidden;
  }
  .cookbook-image {

    .field--name-field-image {
      text-align: center;

      img {
        width: 50%;
        @include breakpoint($full, true) {
          width: 25%;
          float: left;
          margin-right: 20px;
        }
      }
    }
  }

  .cookbook-text {
    @include breakpoint($full, true) {
      float: right;
      width: 70%;
    }
  }
  h1.cookbook-title {
    color: $black;
    font-size: 2em;
    text-align:  center;
    @include breakpoint($full, true){
      text-align: left;
    }
  }
  .field--name-field-paypal {
    text-align: center;
    max-width: 500px;
    input {
      max-width: 100%;
    }
    @include breakpoint($full, true){
      text-align: left;
    }
  }
}
.cookbook-body {
    font-size: 1.7em;
    float: right;
    padding: 0 20px 20px;
    font-weight: 300;
}