 .features-top-home {
   width: 95%;
   margin: 0 auto;
  @include breakpoint (600px, true) {
    display: flex;
    flex-flow: wrap;
    justify-content:space-between;

    .item {
      width: 33%;

      img {
        border: 3px solid #fff;

        &:hover {
          border: 3px solid $color-1;
        }
      }
    }
  }
}