.l-footer {
  clear: both;
  display: block;
  overflow: hidden;
  width: 100%;
  overflow: hidden;
  padding: 10px;
  margin-top: 20px;
  background: $black;
  border-bottom: 5px solid #444;
  border-top:25px solid #fff;
}