.row {
}

.head-wrapper {
  width: 100%;


  img {
    cursor: pointer;
    padding: 15px;
    @include breakpoint(460px, true) {
      padding: 10px;
    }
  }
}
.menu-expander {
  background: $black;
  color: $white;
  cursor: pointer;
  float: right;
  font-size: 1.5em;
  padding: 10px;
  text-align: right;
  @include breakpoint($full, true) {
    display: none;
  }
}
.search-expander {
  cursor: pointer;
  float: right;
  font-size: 1.5em;
  padding: 10px;
  text-align: right;
}

#header {
    box-sizing: border-box;
    float: left;
    text-align: left;
    margin: 0 auto;
    @include breakpoint($full, true) {
      clear: both;
      float: none;
      width: 95%;
    }
  h1 {
    font-size: 1rem;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    margin: 5px;
    @include breakpoint(800px, true) {
      margin: 0px;
      font-size: 2rem;
    }
    a {
      color: #000;
    }
  }
}