.page-nutrimost-phase2-recipes, .section-nutrimost-phase4-recipes, .section-nutrimost-beyond-recipes {

  h1 {
    color: $black;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.1em;
    font-weight: 100;
    margin-bottom: 2px;
    padding:2px;
  }
}

.view-recipes {

  .view-content {
    display: flex;
    flex-flow: wrap;
    justify-content:space-between;

    .views-row {
      background: #f9f9f9;
      clear:both;
      margin-bottom: 20px;
      display: inline-block;
      width: 100%;
      border-bottom: 1px solid #ccc;
      padding-bottom: 20px;
      box-shadow: 1px 1px 1px #eee;

      @include breakpoint(450px, true) {
        width: 49.4%;
      }

      @include breakpoint(550px, true) {
        width: 32.8%;
      }

      @include breakpoint(1180px, true){
        width: 24.6%;
      }

    .views-field-title {
      padding: 10px;

      a {
        font-family: 'Montserrat', sans-serif;
         font-size: 1.1em;
         font-weight: bold;
         color: $black;
         text-decoration: none;

        }
      }
    }

    .views-field-field-calories-per-serving {
      padding: 0 10px;
      font-size: 1.1rem;
    }

    .views-field-field-servings {
      padding: 0 10px;
      font-size: 1.1rem;
    }
  }
}

.print-link {
  text-align: left;
  padding-bottom: 0;
}