.node--special-offer {
  clear: both;
  .field--name-field-offer-image {
    text-align: center;
    @include breakpoint(800px, true) {
      float: left;
      width: 25%;
    }
  }


  .field--name-body {
    @include breakpoint(800px, true) {
     float: left;
     width: 70%;
   }
  }
}

.offer-links {
  text-align: center;
  @include breakpoint(800px, true) {
    text-align: left;
  }
  a {
    background: $color-1;
    color: #fff;
    font-size: 1.2em;
    display: inline-block;
    border-radius: .5em;
    text-align: center;
    padding: 5px 10px;
    margin-top: 20px;
    &:hover {
      background: #000;
    }
  }
}

.view-special-offers {
  .views-row {
    clear: both;
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
    margin-bottom: 30px;
    overflow: hidden;
  }
  .view-footer {
    clear: both;
    padding: 20px;
    p {
      font-size: .9rem;
    }
  }
  .views-field-field-offer-image {
    text-align: center;
    @include breakpoint(800px, true) {
      float: left;
      width: 25%;
    }
  }
  .views-field-title {
    font-size: 2rem;
    margin: 20px 0;
    text-align: center;
    @include breakpoint(800px, true) {
     text-align: left;
     width: 70%;
   }
  }
  .views-field-body {
    padding: 10px;
    font-size: 1.3rem;
    @include breakpoint(800px, true) {
     float: left;
     width: 70%;
   }
  }
  .views-field-view-node {
    padding: 20px;
    text-align: center;
     @include breakpoint(800px, true) {
      float: right;
      text-align: right;
    }
  }
}